{template "content","header"}

<div class="content">
	<div class="index_title pt50 clearfix">
		<h3><span class="main_word_color">作品</span>列表</h3>
	</div>
	<ul class="product_filter">
		<li>
			<span class="filter_title fl">演奏：</span>
			<i class="filter_tag fl active">全部</i> 
			<i class="filter_tag fl">弹唱</i> 
			<i class="filter_tag fl">指弹</i> 
		</li>
		<li>
			<span class="filter_title fl">曲风：</span>
			<i class="filter_tag fl active">全部</i> 
			<i class="filter_tag fl ">布鲁斯</i> 
			<i class="filter_tag fl">民谣</i>
			<i class="filter_tag fl">现代流行</i> 	
			<i class="filter_tag fl">爵士</i> 
			<i class="filter_tag fl">乡村</i> 	
			<i class="filter_tag fl">古典</i> 	
			<i class="filter_tag fl">传统流行</i>							
		</li>
<!-- 		<li>
			<span class="filter_title fl">类型：</span>
			<i class="filter_tag fl active">全部</i> 
			<i class="filter_tag fl">免费</i> 
			<i class="filter_tag fl">付费</i> 			
		</li> -->
		<li>
			<span class="filter_title fl">难度：</span>
			<i class="filter_tag fl active">全部</i> 
			<i class="filter_tag fl">练习</i> 
			<i class="filter_tag fl">初级</i> 
			<i class="filter_tag fl">高级</i> 						
		</li>		
	</ul>

	<ul class="product_list clearfix">
		{loop subcat(0,0,0,$siteid) $r}
			{pc:content  action="lists" catid="$r[catid]" play_type="布鲁斯" order="updatetime DESC" thumb="1" num="2" page="$page" return="info"}
				{php $categorys = getcache('category_content_'.$siteid,'commons');}
				{loop $info $v}
					{php $category = $categorys[$v[catid]];}
					{php $modelid = $category['modelid'];}
					{php $db = pc_base::load_model('hits_model');}
					{php $_r = $db->get_one(array('hitsid'=>'c-'.$modelid.'-'.$v[id]));}
					{php $views = $_r[views];}
					{php $comment_tag = pc_base::load_app_class("comment_tag", "comment");}
					{php $comment_total = $comment_tag->count(array('commentid'=>'content_'.$v[catid].'-'.$v[id].'-'.$modelid));} 
					<li id="product_item_1" class="product_list_item">	
						<div class="product_list_item_pic">
						<a href="{$v[url]}">
						<img src="{thumb($v[thumb],230,230)}" alt="blues" />
						<div class="title">{$v[title]}</div>
						<div class="name">{$v[author]}</div>
						</a>
						</div>
						<div class="product_list_item_content">
						<div class="tag clearfix pl10"><span class="tag_name">{$v[play_type]}</span><span class="tag_name">{$v[music_style]}</span><span class="price_pay fr">免费</span></div>
						<div class="join_number clearfix">
						<i class="see_icon" title="评论过">&nbsp;</i><span class="see_number" title="看过">{$views}</span>
						<!--<i class="talk_icon" title="评论过">&nbsp;</i><span class="praise_number" title="评论过">{if $comment_total}{$comment_total}{else}0{/if}</span>-->
						<i title="难度" class="level fr pr10"><a href="level.html" target="blank"><img src="{IMG_PATH}guitar/level_{$v[hard]}.png" alt="" class="fl"></a></i>
						</div>
						</div>
						{php $username = $v[username];}
						{php $meminfo=get_memberinfo_buyusername($username);}
						{php $userid=$meminfo['userid'];}
						<p class="clearfix pt10">
							<a href="teather_detail.html">
								<img src="{get_memberavatar($userid ,30,30)}" alt="" class="th_avatar">
								<span class="th_name">{$v[username]}</span>
							</a>
							<span class="th_time">{date('Y-m-d',$v[inputtime])}</span>
						</p>
					</li>	
				{/loop}
				<li id="pages" class="pages">{$pages}</li>
			{/pc}
		{/loop}							
	</ul>
</div>

{template "content","footer"}

<script type="text/javascript">
	$(function(){
		
	})
</script>

</body>
</html>
